<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="app.home" value="." />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
   		<encoder>
   			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    	<file>${app.home}/log/${log.name}.log</file>
    	<append>false</append>
    		<!-- encoders are assigned the type
         	ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    	<encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
  	</appender>
  
  	<appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	    <file>${app.home}/log/${log.name}.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <!-- daily rollover -->
 	        <fileNamePattern>${app.home}/log/${log.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
 	        <maxHistory>7</maxHistory>
 	    </rollingPolicy>
    	    <encoder>
      	        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	    </encoder>
  	</appender>
  
	
	<logger name="larc.incrementalV2S" level="debug" />
	
	<root level="warn">
		<appender-ref ref="STDOUT"/>
		<!-- <appender-ref ref="FILE"/>-->
		<appender-ref ref="ROLLING_FILE" />
	</root>
</configuration>
